POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://prac:prac@database:5432/prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
LOGGER_TYPE=tskv
PORT=3000
